<% include ../partials/head.ejs %>

<div class="container">

<div class="myjumbotron">
        <h1>Admin Page</h1>
        <a class="btn btn-success" href ="/admin/registerCar">Register Car</a>
        <a class="btn btn-success" href ="/admin/registeredUser">Registered Users</a>
</div>
    <center><h1>REGISTERED CARS</h1></center>
    <%cars.forEach(function(car){%>
        <div class="alert alert-info">
        <div class="row">
            <div class="col-md-4">
                <img class="img-thumbnail" src="<%=car.image%>" > 
            </div>
            <div>
                <table class="table">
                    <tr><td>Brand</td> <td> <%=car.brand%></td> </tr>
                    <tr><td>Model</td> <td> <%=car.model%></td> </tr>
                    <tr><td>Car Number</td> <td> <%=car.number%></td> </tr>
                    <tr><td>Price per Day</td> <td><%=car.price%></td> </tr>
                    <tr><td>Type of car</td> <td> <%=car.type%></td> </tr>
                    <tr><td>City</td> <td><%=car.city%></td> </tr>
                    <tr>
                        <td>

                         <form action="/admin/<%= car._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-danger">DELETE</button>
                        </form>
                       </td>
                    <td>
                        <form action="/admin/<%= car._id %>/edit?" method="GET">
                            <button class="btn btn-warning">EDIT</button>
                        </form>
                    </td>
                </tr>
                </table>
            </div>
        </div>
    </div>
        <%})%>
</div>


            <% include ../partials/foot.ejs %>
 
