<% include ../partials/head.ejs %>
    <br>
    <br>
    <br>
    <center>
        <div class="jumbotron">
            <h1>DL of
                <%=dl.username%>
            </h1>
            <img style="max-width:350px;max-height:150px" src="/uploads/<%=dl.dl%>">
        </div>
        <form action="/admin/<%=dl._id%>/dl" method="POST">
                 <button class="btn btn-warning">
                    <%if(!dl.verified){%> Approve<%}else{%>disapprove<%}%>
                    </button>
        </form>
    </center>

    <% include ../partials/foot.ejs %>