<% include ../partials/head.ejs %>
<h1>Edit Registered Car</h1>
<div id="registerCar" style="width:80%" class="container">
<form action="/admin/<%=car._id%>/edit?_method=PUT" method="POST">
    <div class="form-group row">
      <label for="brand" class="col-sm-2 col-form-label">Brand</label>
      <input type="text"  value=<%= car.brand %> class="col-sm-10 form-control" name="car[brand]" id="brand" placeholder="Brand of car">
    </div>
    <div class="form-group row" >
            <label for="model" class="col-sm-2 col-form-label">Model</label>
            <input type="text" value=<%=car.model%> name="car[model]" class="col-sm-10 form-control" id="model" placeholder="Model of car">
     </div>
     <div class="form-group row">
            <label for="number" class="col-sm-2 col-form-label">Car Number</label>
            <input type="text"  value=<%=car.number%> class="col-sm-10 form-control" name="car[number]" id="number" placeholder="car Number">
     </div>
     <div class="form-group row">
            <label for="image" class="col-sm-2 col-form-label">Image</label>
            <input type="text" value=<%=car.image%> class="col-sm-10 form-control" name=car[image] id="image" placeholder="Image of car">
     </div>
     <div class="form-group row">
            <label for="price" class="col-sm-2 col-form-label">Price</label>
            <input type="text"  value=<%=car.price%> class="col-sm-10 form-control" name="car[price]" id="price" placeholder="price per day">
     </div>
     <div class="form-group row">
            <label for="type" class="col-sm-2 col-form-label" >Type</label>
            <select  class="col-sm-10 form-control" name="car[type]" id="type"> 
                    <option value="SUV" <%if(car.type == 'SUV'){ %>
                        selected
                    <% } %>>SUV</option>
                    <option value="Sedan" <%if(car.type == 'Sedan'){ %>
                       selected
                   <% } %>
                     > Sedan</option>
                    <option value="VAN" <%if(car.type == 'VAN'){ %>
                        selected
                    <% } %>>VAN</option>
                    
             </select>
     </div>
     <div class="form-group row">
            <label for="city" class="col-sm-2 col-form-label" name="car[city]">City</label>
            <select  class="col-sm-10 form-control" value="<%=car.city%>" id="city" name="car[city]">
                    <option <%if(car.city == 'Delhi'){ %>
                        selected
                    <% } %>> Delhi</option>
                    <option <%if(car.city == 'Gurugram'){ %>
                        selected
                    <% } %>>Gurugram</option>
                    <option <%if(car.city == 'Noida'){ %>
                        selected
                    <% } %>>Noida</option>
                    <option <%if(car.city == 'Faridabad'){ %>
                        selected
                    <% } %> >Faridabad</option>
             </select>
     </div>
     
        <div class="form-check">  
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

  <% include ../partials/foot.ejs %>
<!-- 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
    $(document).ready(function(){
      var gotcity = car.city;
      console.log("get value: "+gotcity)
      $("#city option").each(function(){
        var city = $(this).val()
        console.log(city);
      })
    }) -->
  </script>