<% include ../partials/head.ejs %>

  <div class="container">
    <div>
      <h1>Registerd User</h1>
      <div class="row">
        <div class="col-sm-10">
          <div class="table">
            <table>
              <thead>
                <tr>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Phone No</th>
                  <th>state</th>
                  <th>location</th>
                  <th>Pin</th>
                  <th>city</th>
                  <th>view DL</th>
                  <th>verified</th>
                  
                </tr>
              </thead>
              <tbody>
                <%users.forEach(function(user){
                  if(user.username!="admin"){%>
                  <tr>
                    <td>
                      <%=user.fname%>
                    </td>
                    <td>
                      <%=user.lname%>
                    </td>
                    <td>
                      <%=user.phone%>
                    </td>
                    <td>
                      <%=user.state%>
                    </td>
                    <td>
                      <%=user.location%>
                    </td>
                    <td>
                      <%=user.pin%>
                    </td>
                    <td>
                      <%=user.city%>
                    </td>
                    <td>
                      <form width="350px" height="150px" action="/admin/<%=user._id%>/dl">
                        <button class="btn btn-warning btn-sm">view</button>
                      </form>
                    </td>
                    <td>
                      <%if(!user.verified){%><p style="color:red;">disapproved</p><%}else{%><p style="color:blue;">approved</p><%}%>
                    </td>
                  </tr>
                  <%}})%>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="row">
              <h3>Filters Cities   <a class="btn btn-danger" href="/admin/registeredUser">reset</a></h3><hr>
          </div>
          <!-- FIND USER -->
          <div class="row">
                <form action="/admin/registeredUser/search" method="POST">
                  <input type="text" name="name" placeholder="name of user">
                  <button class="btn btn-primary">search</button>
                </form>
          </div>
          <!-- FIND BY cities -->
          <div class="row">
              <h3>search by city</h3>
           </div>
           
          <div class="row"> 
          <form action="/admin/registeredUser/filter" method="POST">
             <% allcity.forEach(function(us){ %>

              <input type="checkbox" class="form-check-label" name="city" value=<%=us%>><%=us%><br>
             <%})%>
             <button class="btn btn-warning">filter</button>
          </form>
        </div>
         
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
      <% include ../partials/foot.ejs %>
      </div>