<% include ../partials/head.ejs %>
<h1>Register Car</h1>
<div id="registerCar" style="width:60%" class="myjumbotron">
<form action="/admin/registerCar" method="POST">
    <div class="form-group row">
      <label for="brand" class="col-sm-2 col-form-label">Brand</label>
      <input type="text"  class="col-sm-10 form-control" name="car[brand]" id="brand" placeholder="Brand of car">
    </div>
    <div class="form-group row" >
            <label for="model" class="col-sm-2 col-form-label">Model</label>
            <input type="text" name="car[model]" class="col-sm-10 form-control" id="model" placeholder="Model of car">
     </div>
     <div class="form-group row">
            <label for="number" class="col-sm-2 col-form-label">Car Number</label>
            <input type="text"  class="col-sm-10 form-control" name="car[number]" id="number" placeholder="car Number">
     </div>
     <div class="form-group row">
            <label for="image" class="col-sm-2 col-form-label">Image</label>
            <input type="text"  class="col-sm-10 form-control" name=car[image] id="image" placeholder="Image of car">
     </div>
     <div class="form-group row">
            <label for="price" class="col-sm-2 col-form-label">Price</label>
            <input type="text"  class="col-sm-10 form-control" name="car[price]" id="price" placeholder="price per day">
     </div>
     <div class="form-group row">
            <label for="type" class="col-sm-2 col-form-label" >Type</label>
            <select  class="col-sm-10 form-control" name="car[type]"> 
                    <option>SUV</option>
                    <option>Sedan</option>
                    <option>VAN</option>
             </select>
     </div>
     <div class="form-group row">
            <label for="city" class="col-sm-2 col-form-label" name="car[city]">Type</label>
            <select  class="col-sm-10 form-control" name="car[city]">
                    <option>Delhi</option>
                    <option>Gurugram</option>
                    <option>Noida</option>
                    <option>Faridabad</option>
             </select>
     </div>
     
        <div class="form-check">  
    </div>
    <center> <button type="submit" class="btn btn-primary">Submit</button></center>
   
  </form>
</div>
<br><br><br><br><br>
<div class="container-fluid">
    <% include ../partials/foot.ejs %>
    </div>