</div>
</div>
        <div class="foot">
                <div class="footcontent">
                                <p>copyright:AnkitHalder@2018</p> 
                </div>
           </div>
        </body>
        </html>