<html>

<head>
  <title>CarLo</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/myStyle.css">
  <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

</head>
<style>
  
</style>

<body>
    <nav class="navbar navbar-expand-sm bg-light">
      <a href="/" class="navbar-brand col-sm-10" style="font-size:25px;"><i class="fas fa-car"></i>CarLo</a>
      <ul class="navbar-nav container ">
        <li class="nav-item">
          <a class="nav-link" href=""></a>
        </li>
        <% if(!cuser){%>
          <li class="nav-item">
              <a class="nav-link" href="/user/login">sign in</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/user/register"> Register</a>
            </li>
        <%}else{%>
          
            <li class="nav-item">
                <a class="nav-link" href="/user/logout">sign out</a>
              </li>
          <%}%>

      </ul>
    </nav>
    <div style="min-height:100%">
