body {
    background: #11998e;
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e);
    background: linear-gradient(to right, #38ef7d, #11998e);
    min-width: 100%;
    width:100%;
    margin-bottom: 0px;
   min-height:100%;
    padding:0px;
  }
  html{
    padding:0px;
    margin:0px; 
  }

  #banner{
    width:100%;
    height: 50%;
    background-color: red;
    background-image: url('../images/banner.jpeg');
    background-size: 100% 100%;
    margin:2% auto;
    margin-top:0%;
  }
  h1{
    color:rgb(8, 8, 90);
    text-shadow:0.8px 0.8px white;
    
  }
  .box{
    padding:3%;
   color :rgba(209, 202, 202);
  }

  .box h2{
    color:red;
    text-align: center;
    text-shadow: 0.5px 0.5px black;
  }

  .box ul, .box p{
    text-align: center;
    list-style: none;
    font-size: 18px;
  }
  .content{
    margin:2% auto;
    margin-top:0px;
    padding:0px;
  }

  .cent{
    text-align: center;
  }
  
  h2{
    text-shadow: 0.8px 0.8px black;
  }
  .img-thumbnail{
    height: 230px;
  }
   #banner h5{
    color:white;
    padding-left:10%;
    padding-top:5%;
    font-size: 50px;
    font-family: 'Sofia';
    text-shadow: 2px 2px black;
    max-width:800px;
    width:90%;
  }
  .foot{
    text-align: center;
    width:100%;
    position: relative;
    min-width:100%;
    min-height: 10%;
    padding-top:20px;
  }

  .footcontent{
     position: absolute;
     bottom:0;
     text-align: center;
     background-color: white;
     padding:5px;
     width:100%;
  }

  .container-fluid{
    margin:0px;
    padding: 0px;
  }
  .jumbotron{
    width:60%;
  }
  .myjumbotron{
    width:100%;
    background-color: rgb(230, 225, 225);
    padding:15px 20px;
    margin: auto;
    border-radius: 3px;
    font-size:18px;
    box-shadow: 2px 2px 3px black;
  }

  .extend{
    margin:auto;
    width: 98.0%;
    padding:0px;
  }
  .car{
    background-color: rgb(221, 214, 214);
    margin-top:5px;
    padding:20px;
    box-shadow: 2px 2px 3px rgb(7, 88, 7);
    border-radius: 3px;
  }

  .cardetails{
  
    background-color: rgb(201, 193, 193);
    padding:40px;
    width:80%;
    margin-top:10px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgb(13, 146, 9);
    font-size: 20px;
    line-height: 20px;
  }
  .cardetails img{
    border-radius: 5px;
  }
  