<% include ../partials/head.ejs %>
<br>
<div class="container">
<% var i=0;
trip.forEach(function(t){%>
    <div class="row myjumbotron">
        <div class="col-sm-5">
                <img class="img-thumbnail" src=<%=cars[i].image%>>
        </div>
        <div class="col-sm-7">
             <table class="table" style="font-size:20px;line-height:80%">
                <tr> <td>car brand:</td><td><%=cars[i].brand%></td></tr>
                 <tr><td>car type:</td><td><%=cars[i].type%></td></tr>
                 <tr><td>car number:</td><td><%=cars[i].number%></td></tr>
                 <tr><td>car model:</td><td><%=cars[i].model%></td></tr>
                 <tr><td>from date:</td><td><%=t.fromdate.toString().substring(0,15)%></td></tr>
                 <tr><td>to date:</td><td><%=t.todate.toString().substring(0,15)%></td></tr>
                 <tr><td>amount payed:</td><td><%=t.amount%></td></tr>
                 
             </table>
        </div>
</div>
<br>
<%i++})%>
</div>
<% include ../partials/foot.ejs %>