<% include ../partials/head.ejs %>
<div class="container cardetails">  
<div class="row ">
        <div class="col-sm-12  ">
            <center>
                <div class="">
                    <img width="50%" height="40%" src="<%=car.image%>">
                </div> 
            </center>
        </div>
        <form action="/user/dashboard/<%=car._id%>" method="POST" style="display: initial">
        <div class="col-sm-12"> 
                <p><strong>Brand :</strong> <%=car.brand%></p>
             <p><strong>Model:</strong><%=car.model%></p> 
             <p><strong>Type:</strong><%=car.type%></p> 
             <p><strong>city:</strong><%=car.city%></p> 
             <p><strong>price per day:</strong><%=car.price%></p> 
             <p><strong>from date:</strong><input type="date" name="trip[fromdate]" required value=<%= trip.fromdate %>></p>
             <p><strong>to date:</strong><input type="date" name="trip[todate]"  required value=<%= trip.todate%>></p>
             <p><strong>to city:</strong><input type="text" name="trip[tocity]"  required value=<%= trip.tocity%>></p>
             <!-- <input type="hidden" name=trip >
             <input type="hidden" name=trip >
             <input type="hidden" name=trip > -->
             <p><strong>offer:</strong><%=trip.offer%></p>
            </div>
            <div class="col-sm-12">
            <center>
            <%if(cuser.verified){%>
                <button class="btn btn-success">proceed</button>
             <%}else{%>
                <p style="color:red;">you are not verified yet</p>
                <%}%>
            </center>
            </form>
        </div>
     </div>
    </div>
</div> 
    <% include ../partials/foot.ejs %>