<% include ../partials/head.ejs %>
    <div class="container">
        <div class="row">
            <h1 class="col-sm-8">DashBoard </h1>
            <div class="col-sm-4">
               
                <h4> <a class="btn btn-warning"href="/user/booking/<%=cuser._id%>">mybookings</a> Welcome :  <%=user%> </h4>
            </div>
            
        </div>
        <div class="myjumbotron">
            <h1>Search for your Car</h1>
            <form action="/user/dashboard/find" method="POST">
                <div class="form-group row">
                    <label for="city" class="col-sm-2 col-form-label">From City</label>
                    <div class="col-sm-4" id="city">
                        <select name="trip[fromcity]" class=" form-control">
                            <option <%if(city=="Delhi"){%>selected<%}%>>Delhi</option>
                            <option <%if(city=="Gurugram"){%>selected<%}%>>Gurugram</option>
                            <option <%if(city=="Noida"){%>selected<%}%>>Noida</option>
                            <option <%if(city=="Faridabad"){%>selected<%}%>> Faridabad</option>
                        </select>
                    </div>

                    <label for="city" class="col-sm-2 col-form-label">To City</label>
                    <div class="col-sm-4" id="city">
                        <select name="trip[tocity]" class=" form-control">
                            <option <%if(trip.tocity=="Delhi"){%>selected<%}%>>Delhi</option>
                            <option <%if(trip.tocity=="Gurugram"){%>selected<%}%>>Gurugram</option>
                            <option <%if(trip.tocity=="Noida"){%>selected<%}%>>Noida</option>
                            <option <%if(trip.tocity=="Faridabad"){%>selected<%}%>>Faridabad</option>
                        </select>
                    </div>

                </div>

                <div class="form-group row">
                    <div class="col-sm-2 ">
                        <label for="fdate" class="col-form-label">From Date</label>
                    </div>
                    <div class="col-sm-4">
                        <input type="date" name="trip[fromdate]"  class="form-control"  value=<%=trip.fromdate %> >
                    </div>

                    <div class="col-sm-2 ">
                        <label for="tdate" class="col-form-label">To Date</label>
                    </div>
                    <div class="col-sm-4">
                        <input type="date" name="trip[todate]"  class="form-control" value=<%=trip.todate%> >
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-2 ">
                        <label for="type" class="col-form-label">Type of car</label>
                    </div>
                    <div class="col-sm-4" id="type">
                        <select name=trip[type] class=" form-control">
                            <option <%if(trip.type=="SUV"){%>selected<%}%>>SUV</option>
                            <option <%if(trip.type=="Sedan"){%>selected<%}%>> Sedan</option>
                            <option <%if(trip.type=="VAN"){%>selected<%}%>>VAN</option>
                        </select>
                    </div>

                    <div class="col-sm-2 ">
                        <label for="offers" class="col-form-label">offers</label>
                    </div>
                    <div class="col-sm-4" id="offers">
                        <select name="trip[offer]" class=" form-control">
                            <option>50% discount from MyCar</option>
                            <option>Get 1st book from Bookyard </option>
                            <option>get free subscription to BlockApp</option>
                        </select>
                    </div>

                </div>

                <div class="form-group row ">
                    <div class="col-sm-5">
                    </div>
                    <div class="col-sm-3">
                        <button class="btn btn-primary btn-lg"> search</button>
                    </div>
                    <div class="col-sm-4">
                    </div>
                </div>
            </form>
        </div>
         <div class="row">
             <div class="col-sm-12">
               <center><h1>Available <%=trip.type%> cars in <%=city%></h1></center>  
             </div>

         </div>
        <div style="width:98%;margin:auto">

            <%cars.forEach(function(car){%>
             <div class="row car">
                 <div class="col-sm-4">
                  <img class="img-thumbnail" src="<%=car.image%>">
                 </div>
                 <div class="col-sm-2"> 
                        <p><strong>Brand :</strong></p>
                     <p><strong>Model:</strong></p> 
                     <p><strong>Type:</strong></p> 
                     <p><strong>price per day:</strong></p> 
                     <a href="/user/dashboard/<%=car._id%>" class="btn btn-primary">details</a>
                </div>
                <div class="col-sm-6">  
                    <p><%=car.brand%></p>
                    <p><%=car.model%></p>
                    <p><%=car.type%></p>
                    <p><%=car.price%></p>
                    </div>
             </div>
             <% })%>
        </div>
    </div>
    <% include ../partials/foot.ejs %>