<% include ../partials/head.ejs %>
<div style="background-image:url('https://upload.wikimedia.org/wikipedia/commons/thumb/c/ce/M82_HST_ACS_2006-14-a-large_web.jpg/1280px-M82_HST_ACS_2006-14-a-large_web.jpg');height:100%;width:100%;background-size:100% 100%">
  <br><br><br><br><br>
    <center><h1 style="color:red;font-size:125px;">We r working on Time Travelling, but untill then please check <%=msg%></h1></center>
</div>
<% include ../partials/foot.ejs %>