<% include ../partials/head.ejs %>
<div class="extend">    
<!-- BANNER -->
        <div class="row">
            <div id="banner">
               <h5>Travel far enough, you found yourself, because you have only one life.</h5>
               
            </div>
        </div>
        <!-- CONTENT -->

        <div class="row banner">
            <div class="col-sm-12">
                <center>
                    <h1>Why CarLo?</h1>
                </center>
            </div>
        </div>
        <div class="content">
            <div class="row">
                <div class="col-sm-4 box">

                    <h2>Easy Booking</h2>

                    <ul>

                        <li>Register yourself on CarLo</li>
                        <li>Upload your DL and get verified</li>
                        <li>Pay the charges via secure payment gateway</li>
                        <li>And Drive like ur own car!!</li>
                    </ul>
                </div>
                <div class="col-sm-4 box">
                    <h2>Reasonable Pricing</h2>
                    </center>
                    <p>No need to hire taxi or cabs and get dependent on driver</p>
                    <p>Drive yourself and anywhere</p>
                    <p>CarLo assures you thar you will get the best price for the cars
                    </p>
                </div>
                <div class="col-sm-4 box">
                    <center>
                        <h2>Variety</h2>
                    </center>
                    <p>dont limit your choice</p>
                    <p>choose your car from wide variety of cars and types of cars</p>
                    <p>choose from different brands, models and type of cars</p>
                </div>
            </div>
            <!-- services -->
            <div class="row banner">
                <div class="col-sm-12">
                    <center>
                        <h1>Services</h1>
                    </center>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-3 col-sm-6">
                    <img src="/images/gurgaon.jpg" class="img-thumbnail">
                    <div class="carousel-caption">
                        <h2>Gurugram</h2>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <img src="/images/delhi.jpeg" class="img-thumbnail">
                    <div class="carousel-caption">
                        <h2>Delhi</h2>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <img src="/images/noida.jpg" class="img-thumbnail">
                    <div class="carousel-caption">
                        <h2>Noida</h2>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <img src="/images/faridabad.png" class="img-thumbnail">
                    <div class="carousel-caption">
                        <h2>Faridabad</h2>
                    </div>
                </div>

            </div>
            

        </div>
    </div>

    <% include ../partials/foot.ejs %>