<% include ../partials/head.ejs %>
<br>
<!-- <%=trip.fromdate%> -->
<div class="container">
    <center>
     <div class="jumbotron">
         <h1>Payment</h1>
         <%if(car.price * d > 0){%>
         <h3>fair per day :<%=car.price%></h3>
         <h3>number of days :<%=d%></h3>
         <h3>Amount to pay: <%=car.price * d%></h3>
         <form action="/user/dashboard/<%=car._id%>/payment/<%=cuser._id%>" method="POST">
             <div class="form-group row">
                 <label for="card" class="col-sm-2 col-form-label">card number</label>
                 <div class="col-sm-10">
                  <input id="card" type="text"  pattern="\d*" maxlength="16" class="form-control" name="card"  required>
                 </div>
             </div>
             <input type="hidden" name="price" value=<%= car.price * d %>>
             <div class="form-group row">
                <label for="expDate" class="col-sm-2 col-form-label" >month and year</label>
                <div class="col-sm-10">
                 <input id="expDate" type="date" class="form-control" name="expdate"  required>
                </div>
            </div>
            <div class="form-group row">
                <label for="cvv" class="col-sm-2 col-form-label">cvv</label>
                <div class="col-sm-10">
                 <input id="cvv" type="text" class="form-control" name="cvv" maxlength="3" required>
                </div>
            </div>
            
            <button class="btn btn-primary">pay</button>
         </form>
         <%}else{%><p style="color:red">choose correct date "to date" cannot be less than "from date"! </p><%}%>
        
     </div>
    </center>
    
</div>
<% include ../partials/foot.ejs %>