<% include ../partials/head.ejs %>
    <div style=" padding-top:5%" class="container">
        <center>
            <div class="jumbotron" style="width:60%">

                <h1>Register User</h1>
                <form action="/user/register" method="POST" enctype="multipart/form-data">
                    <!-- username -->
                <div class="form-group row">
                    <label for="uname" class="col-sm-2 col-form-label">User Name </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="uname" required placeholder="User name" name="username">
                    </div>
                </div>
                <!-- name -->
                
                    <div class="form-group row">
                        <label for="name" class="col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="name" required placeholder="First name" name=user[fname]>
                        </div>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="name" required placeholder="Last name" name="user[lname]">
                        </div>
                    </div>
                    <!-- Phone number -->
                    <div class="form-group row">
                        <label for="pno" class="col-sm-2 col-form-label">Phone No. </label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="pno" required placeholder="Phone number" name="user[phone]" maxlength="10">
                        </div>
                    </div>
                    <!-- address -->
                    <div class="form-group row">
                        <label for="address" class="col-sm-2 col-form-label">address</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="address" required placeholder="state" name="user[state]">
                        </div>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="address" required placeholder="city" name="user[city]">
                        </div>
                        <div class="col-sm-2">

                        </div>
                        <div class="col-sm-5">
                            <input type="number" class="form-control" id="address" required placeholder="pin" name="user[pin]">
                        </div>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="address" required placeholder="location" name="user[location]">
                        </div>
                    </div>
                    <!-- file -->
                    <div class="form-group row">
                        <label for="file" class="col-sm-2 col-form-label">upload your DL</label>
                        <div class="col-sm-10">
                            <input type="file" class="form-control" id="file" required name="user[dl]" placeholder="Password" required>
                        </div>
                    </div>
                    <!-- password -->
                    <div class="form-group row">
                        <label for="pass" class="col-sm-2 col-form-label">Password </label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="pass" required name="password" placeholder="Password">
                        </div>
                    </div>

                    <button class="btn btn-info">Submit</button>
                </form>
            </div>
        </center>
    </div>
    <% include ../partials/foot.ejs %>