<% include ../partials/head.ejs %>
<br>
<div class="container">
    <center>
     <div class="jumbotron">
         <h1>User Login</h1>
         <form action="/user/login" method="POST">
             <div class="form-group row">
                 <label for="username" class="col-sm-2 col-form-label">Username</label>
                 <div class="col-sm-10">
                  <input id="username" type="text" class="form-control" name="username" required maxlength="15">
                 </div>
             </div>

             <div class="form-group row">
                <label for="password" class="col-sm-2 col-form-label">password</label>
                <div class="col-sm-10">
                 <input id="password" type="password" class="form-control" name="password" required maxlength="15">
                </div>
            </div>
            <button class="btn btn-primary">Submit</button>
         </form>
        
     </div>
    </center>
    <br><br><br><br><br><br><br><br><br><br>
</div>
<% include ../partials/foot.ejs %>